@model List<Entities.Models.About>
<section id="about" class="about section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
           @foreach (var item in Model)
        {
            <div class="row gy-4">
                <div class="col-md-6">
                <div class="row justify-content-between gy-4">
                    <div class="col-lg-5">
                            <img src="~/Img/@item.Image" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-7 about-info">
                            <p><strong>Github:</strong> <span>   <a href="https://github.com/sehmuscakar?tab=repositories"><i class="bi bi-github"></i></a></span></p>
                            <p><strong>LinkedIn:</strong> <span>   <a href="https://www.linkedin.com/in/%C5%9Fehmus-%C3%A7-457451226/"><i class="bi bi-linkedin"></i></a></span></p>
                            <p><strong>Mail: </strong> <span>sehmuscakar33@gmail.com</span></p>
                            <p><strong>Askerlik Durumu:</strong> <span>Yapıldı</span></p>
                            <p><strong>Ehliyet:</strong> <span>B Sınıfı Araba Ehliyeti</span></p>
                    </div>
                </div>
                    @await Component.InvokeAsync("Skill")
            </div>
            <div class="col-md-6">
                <div class="about-me">
                    <h4>Hakkımda</h4>
                    <p>
                       @item.Description
                    </p>
                </div>
            </div>
        </div>
        }
    </div>
</section><!-- /About Section -->